@import url("./reset.css");
@import url("header.css");
@import url("./footer.css");

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  position: relative;
  font-family: sans-serif;
  line-height: 2;
}


/* common selector css*/
ul {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}
section {
  padding: 1% 0;
}

/* common class css*/

.row{
  display: flex;
  flex-wrap: wrap;
}

.col-4{
  width: 33.3%;
  padding-right: 3%;
  height: max-content;
}


/*Padding classes*/ 
.px-2 {
  padding-left: 0.5rem!important;
}

.px-5 {
  padding-left: 3rem!important;
}


/*independant classes*/

.text-center {
  text-align: center;
}


/* font classes*/


/*Component CSS */

/*
  Box-Group
*/



.section_header {
  font-size: 1.5em;
  font-weight: 500;
}

.rounded {
  border-radius: 50%
}
@media screen and (min-width:2000px) {
  body {
    font-size: 40px;
  }
}