header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #84836e96;
    width: 100%;
    padding: 5px 20px;
    position: fixed;
    top: 0px;
    color: #fff;
    left: 0px;
    z-index: 2;
}

.figure-logo_header img {
    height: 10vh;
}
.header-nav_ul {
    display: flex;
    margin-right: 100px
}
.header-nav_ul li {
    margin-right: 5%
}
header li a{
    font-size: 1em;
    border-bottom: 0px solid #fff;
    transition: border-bottom-width 0.1s;
}
header li a:hover {
    border-bottom-width: 3px ;
}