
header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 2;
    background: #84836e96;
}
.header-large {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    color: #fff;
    transform: translateX(-193px);
    transition: transform 0.5s;
}

.figure-logo_header img {
    height: 10vh;
}
.header-nav_ul {
    display: flex;
    margin-right: 100px
}
.header-nav_ul li {
    margin-right: 5%
}
.header-large {
    transform: translateY(-15em)
}
.header-large li a, .sidebar-ul_main-menu li a{
    font-size: 1em;
    border-bottom: 0px solid #fff;
    transition: border-bottom-width 0.1s;
}
.header-large li a:hover, .sidebar-ul_main-menu li a:hover {
    border-bottom-width: 3px ;
}
.header-toggle {
    margin: 4%;
    cursor: pointer;
}
.header-toggle div {
    width: 2em;
    height: 0.17em;
    background-color: #fff;
    margin-bottom: 0.5em;
}


#header-small {
    transform: translateY(-15em);
    transition: transform 0.5s;
}
.sidebar {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: fit-content;
    padding: 7% 5%;
    top: 0;
    left: 0;
    background-color:#84836e96 ;
    transform: translateX(-20em);
    transition: transform 0.5s;
}
.close-menu {
    position: relative;
    left: 100%;
    bottom: 3%;
    cursor: pointer;
}
.close-menu div {
    width: 1.4em;
    position: absolute;
    height: 0.12em;
    background-color: #fff;
}
.close-menu div:nth-child(1){
    transform: rotate(45deg);
}
.close-menu div:nth-child(2){
    transform: rotate(-45deg);
}
.figure-logo_sidebar img{
    height: 16vh;
} 
.sidebar-nav_main_menu {
    margin-top: 50%
}
.sidebar-ul_main-menu li{
    text-align: center;
    margin-bottom: 10px
}
@media (min-width: 801px) {
    #header-small {
        transform: translateY(-15em) !important;
    }
    .sidebar {
        transform: translateX(-20)  !important;
    }
}
@media (max-width: 800px) {
    #header-nav {
        display: none !important;
    }
    #header {
        display: none;
    }
    #header-small {
        transform: translateY(0);
    }
}

@media (max-width: 500px) {
    .sidebar { 
        padding: 20% 10%
    }
}