
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.slider {
  width: 100%;
  height: 50%;
  margin-top: 25px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.slides {
  display: flex;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  transform-origin: center center;
  transform: scale(1);
}

.slider__nav {
  box-sizing: border-box;
  position: relative;
  /* bottom: 10%; */
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #6d6868;
  margin: 0 10px 0 10px;
}
.slider__navlink:hover {
  background-color: #adaaaa;
}

.slide a {
  background: none;
  border: none;
}

a.slide__prev,
.slider::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 4%;
  top: 64%;
}

a.slide__next,
.slider::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 6%;
  top: 64%
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
  position: absolute;
  top: 48%;
  width: 20px;
  height: 20px;
  border: solid #6d6868;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}
.slider::before,
.slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}
